In [10]:
pip install monadsquishy==0.1.3

Collecting monadsquishy==0.1.3
  Downloading monadsquishy-0.1.3-py3-none-any.whl.metadata (795 bytes)
Requirement already satisfied: pandas==2.1.4 in /home/wasit/miniconda3/envs/squishy/lib/python3.10/site-packages (from monadsquishy==0.1.3) (2.1.4)
Requirement already satisfied: pyarrow==17.0.0 in /home/wasit/miniconda3/envs/squishy/lib/python3.10/site-packages (from monadsquishy==0.1.3) (17.0.0)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/wasit/miniconda3/envs/squishy/lib/python3.10/site-packages (from pandas==2.1.4->monadsquishy==0.1.3) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/wasit/miniconda3/envs/squishy/lib/python3.10/site-packages (from pandas==2.1.4->monadsquishy==0.1.3) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/wasit/miniconda3/envs/squishy/lib/python3.10/site-packages (from pandas==2.1.4->monadsquishy==0.1.3) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /home/wasit/miniconda3/envs/squishy/lib/python3.10/site-packages (from pandas==2.1.4->monadsquishy==0.1.3) (2024.1)
Requirement already satisfied: six>=1.5 in /home/wasit/miniconda3/envs/squishy/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas==2.1.4->monadsquishy==0.1.3) (1.16.0)
Downloading monadsquishy-0.1.3-py3-none-any.whl (5.2 kB)
Installing collected packages: monadsquishy
  Attempting uninstall: monadsquishy
    Found existing installation: monadsquishy 0.1.2
    Uninstalling monadsquishy-0.1.2:
      Successfully uninstalled monadsquishy-0.1.2
Successfully installed monadsquishy-0.1.3
Note: you may need to restart the kernel to use updated packages.

In [11]:
from monadsquishy import Squishy, sf

In [12]:
import pandas as pd
df = pd.read_parquet('./simple.parquet')

In [13]:

sq_config = {
    'transformations':[
        {
            'input_table': df,
            'transformed_path':'./staging/test1',
            'exploded_path':'./staging/test1',
            'out_columns': {
                 'country': {
                     'input':'country',
                     'funcs':[sf.country1,sf.country2,sf.country3]
                 },
                 'name': {
                     'input':'name',
                     'funcs':[lambda x:x, ],
                 },
                 'order_date': {
                     'input':'order_date',
                     'funcs':[sf.date1, sf.date2]
                 },
                 'quantity': {
                     'input':'quantity',
                     'funcs':[sf.quantity1, ]
                 },
                 'price_number': {
                     'input':'price',
                     'funcs':[sf.price1, ]
                 },
                 'price_currency': {
                     'input':'price',
                     'funcs':[sf.currency1, ]
                 } 
             }
        }
    ]
}

In [14]:
sq=Squishy(sq_config)
all_transformed, all_exploded = sq.run()

input:country    -->['country1', 'country2', 'country3']    --> output:country
input:name       -->['<lambda>']                            --> output:name
input:order_date -->['date1', 'date2']                      --> output:order_date
input:quantity   -->['quantity1']                           --> output:quantity
input:price      -->['price1']                              --> output:price_number
input:price      -->['currency1']                           --> output:price_currency

In [15]:
sq.input()

         country        name    order_date quantity             price
0             TH        มานี     9/25/2024   5 ชิ้น            $25.99
1  United States  John Smith      20240926  7 units         30.00 USD
2            ไทย        ปิติ    27-09-2024   pcs: 4      1,025.99 THB
3         อังกฤษ   Smith, J.  Sep 28, 2024       10  1,000,025.99 บาท
4   invalid name        J.S.  29 ก.ย. 2567      5pc         ๒๗.๙๙ บาท

In [16]:
sq.output()

  country        name  order_date  quantity  price_number price_currency
0      TH        มานี  2024-09-25         5         25.99            USD
1     USA  John Smith  2024-09-26         7         30.00            USD
2      TH        ปิติ  2024-09-27         4       1025.99            THB
3      UK   Smith, J.  2024-09-28        10    1000025.99            THB
4                J.S.  2024-09-29         5         27.99            THB

In [17]:
sq.log()

,input_row,input_column,input_value,output_value,is_passed,message
0,0,country,TH,TH,True,Passed: country1()
1,1,country,United States,USA,False,Failed: country1(): Invalid code
2,1,country,United States,USA,True,Passed: country2()
3,2,country,ไทย,TH,False,Failed: country1(): Invalid code
4,2,country,ไทย,TH,False,Failed: country2(): 'ไทย'
5,2,country,ไทย,TH,True,Passed: country3()
6,3,country,อังกฤษ,UK,False,Failed: country1(): Invalid code
7,3,country,อังกฤษ,UK,False,Failed: country2(): 'อังกฤษ'
8,3,country,อังกฤษ,UK,True,Passed: country3()
9,4,country,invalid name,,False,Failed: country1(): Invalid code
10,4,country,invalid name,,False,Failed: country2(): 'invalid name'
11,4,country,invalid name,,False,Failed: country3(): 'invalid name'
12,0,name,มานี,มานี,True,Passed: <lambda>()
13,1,name,John Smith,John Smith,True,Passed: <lambda>()
14,2,name,ปิติ,ปิติ,True,Passed: <lambda>()
15,3,name,"Smith, J.","Smith, J.",True,Passed: <lambda>()
16,4,name,J.S.,J.S.,True,Passed: <lambda>()
17,0,order_date,9/25/2024,2024-09-25,True,Passed: date1()
18,1,order_date,20240926,2024-09-26,True,Passed: date1()
19,2,order_date,27-09-2024,2024-09-27,True,Passed: date1()
20,3,order_date,"Sep 28, 2024",2024-09-28,True,Passed: date1()
21,4,order_date,29 ก.ย. 2567,2024-09-29,False,Failed: date1(): Unknown datetime string forma...
22,4,order_date,29 ก.ย. 2567,2024-09-29,True,Passed: date2()
23,0,quantity,5 ชิ้น,5,True,Passed: quantity1()
24,1,quantity,7 units,7,True,Passed: quantity1()
25,2,quantity,pcs: 4,4,True,Passed: quantity1()
26,3,quantity,10,10,True,Passed: quantity1()
27,4,quantity,5pc,5,True,Passed: quantity1()
28,0,price,$25.99,25.99,True,Passed: price1()
29,1,price,30.00 USD,30.0,True,Passed: price1()
30,2,price,"1,025.99 THB",1025.99,True,Passed: price1()
31,3,price,"1,000,025.99 บาท",1000025.99,True,Passed: price1()
32,4,price,๒๗.๙๙ บาท,27.99,True,Passed: price1()
33,0,price,$25.99,USD,True,Passed: currency1()
34,1,price,30.00 USD,USD,True,Passed: currency1()
35,2,price,"1,025.99 THB",THB,True,Passed: currency1()
36,3,price,"1,000,025.99 บาท",THB,True,Passed: currency1()
37,4,price,๒๗.๙๙ บาท,THB,True,Passed: currency1()